{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />
<div class="content">
    <h1>
        {{ question.question_text }}
    </h1>
    <form action={% url 'polls:vote' question.id %} method="POST">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input name="choice" id="choice{{ forloop.counter }}" type="radio" value="{{ choice.id }}"/>
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        </br>
        {% endfor %}
        <input type="submit" value="Vote"/>
    </form>
    {% if error_message %}
    <h2>{{ error_message }}</h2>
    {% endif %}
</div>
